<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Termómetro</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'--ion-background-color': getColor()}">
  <br><br><br>
  <div class="thermometer" [class.animate]="animate">
    <div class="mercury" [style.height]="mercuryHeight"></div>
    <div class="bulb"></div>
    <div class="bulb-contorno"></div>
  </div>
  <br><br><br>
  <div class="controls">

    <span id="temperatureDisplay">
      <p class="styleWord">
        {{ temperature }}°C
      </p>
    </span>
  </div>
</ion-content>